*
{
	margin: 0px;
	padding: 0px;
}
.Container
{
	width: 100%;
	height: 100vh;
	background: rgba(100,0,0,0);
	
	background-size: cover;
	padding-right: 20%;


	box-sizing: border-box;
}
.videob
{
	position: absolute;
	right: 0;
	bottom: 0.00;
	min-height: 0%;
	min-width: 0%;
	height: auto;
	width: 100%;
	z-index: -1;
}
.header
{
	height: 5%;
}
.header-btn
{
	text-decoration: 1px !important;
	border-radius: 50px;
	padding: 8px 10px;
	float: right;
	margin-top: 50px;
	margin-right: -300px;
	color: #fff !important;
	background: #107afd;
	font-weight: 800;
}
.H
{
	height: 12%;
	display: flex;
	align-items: center;
}
nav
{
	flex: 1;
	text-align: center;
	margin-top: 600px;
}
nav ul li
{
	list-style: none;
	display: flex;
	margin-left: 100px;
	 padding: 40px; 
}

nav ul li a
{
	 text-decoration: none;
	 color: #ffff;
	 font-size: 50px;

}
.W
{
	
	font-weight: 600;
	color: #fff !important;
	float: left;
}
.W:hover
{
	transition: 0.2s;
	transform: scale(1.5);
}